<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">

    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Something about me</p>
    </div>

    {{>footer}}
</body>

</html>